<!-- <p>
  content works!
</p> -->

<div class="bodyDiv">
  <div class="bars">
    <h1> barra izquierda </h1>
  </div>
  <div class="center">
    <h1> barra centro </h1>
  </div>
  <div class="bars">
    <h1> barra derecha </h1>

    <div class="containerLogin">
        <h2>Login</h2>

        <form>
          <div class="form-group">
            <label for="subject">Nickname</label><br>
            <input type="text" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="content">Password</label><br>
            <input type="text" class="form-control" required>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label for="isImportant">
                <input type="checkbox">No cerrar sesión
              </label>
            </div>
          </div>   

          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br><br><br><br><br><br>
    </div>

  </div>
</div>