
.bodyDiv{
    float:left;
    width: 100%;
    height: 100%;
}
.bars{
    border: 1px solid gray;
    float:left;
    width:20%;
}
.center{
    border: 1px solid gray;
    float:left;
    width: 59%
}